
##ignore this file##
/target/
/.project
.idea
**/target/
**/bin/
**/build
**/.idea
.project
.classpath
**/.settings/
.settings/*
.idea/*
**/.idea/
shida-parent.iml
.vscode
.DS_Store
*.iml
*.ipr
*.iws
*.orig
*.rej
**/.keep
*.sdf
*.suo
*.vcxproj.user
*.patch
.idea
.svn
.classpath
.project
.settings
target
build
dependency-reduced-pom.xml

*/.externalToolBuilders
*/maven-eclipse.xml

.metadata/*
.recommenders/* 

